<html>
<head>
  <title>Login Page</title>
</head>
<body>
	<center>
  	<h3>Welcome</h3>
	<hr>
	<form action="/login" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Login">
	</form>
   </center>
</body>

</html>
